body {
  text-align: center;
  justify-content: center;
  background-color: rgb(20,20,20);
  font-family:Lato, sans-serif;
  color: rgb(240,240,240);
}
h2 {
  color:rgb(255,255,255);
  font-size: 48px;
  padding-bottom: 0;
  margin: 10px
}

h3 {
  font-size: 24px;
  margin-top: 0px;
}

a:link {
  color: rgb(230,230,230);
  text-decoration: none;
}

a:visited {
  color: rgb(230,230,230);
}

a:hover {
  color: rgb(20, 20, 20);
  background-color: rgb(220,220,220);
  border-color: rgb(130,130,130);
}

a:active{
  color: rgb(0,0,0);
}

footer{
  font-size: 10px;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding:0;
  margin:0;
  list-style:none;
  justify-content:center;
}

.active {
  color: rgb(47, 117, 255);
  background-color: rgb(60,60,60);
}

.photography{
  font-size: 21px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: rgb(240,240,240);
  border-width: 2px;
  padding: 8px;
  border-radius: 5px;

}

.logo{
  height: 60px;
  width: auto;
  padding: 20px;
  padding-top: 30px;
}

.castle{
  width: 100%;
}


.modal{
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.3);
  color: black;
}

.modal-content {
  position:relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header{
  color: black;
  padding: 2px 16px;
  background-color: rgb(252,186,3);
}

.modal-body{
  padding: 2px 16px;
}

.modal-footer{
  text-align: center;
  padding: 2px 16px;
  background-color: rgb(252,186,3);
  color: black;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media only screen and (max-width: 1080px) {

  .modal-content{
    width:80%;
    border: 0.5px;
    padding: 10px;
    font-size: 15px;
  }

  .modal-header{
    padding: 1px 8px;
  }

  .modal-footer{
    padding: 1px 8px;
  }

  .modal{
    padding-top: 40%;
  }

  .logo{
    width:50px;
    height:auto;
  }

  h2{
    font-size: 70px;
  }
  a{
    font-size: 48px;
  }


}
