body {
  text-align: center;
  justify-content: center;
  background-color: rgb(20,20,20);
  font-family:Consolas;
  color: rgb(240,240,240);
}
h2 {
  color:rgb(255,255,255);
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

a:link {
  color: rgb(230,230,230);
  text-decoration: none;
}

a:visited {
  color: rgb(230,230,230);
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

a:active{
  color: rgb(0,0,0);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 48;
  color: white;
  font-family: bahnschrift;
  border-bottom:solid 3px rgb(220,220,220);
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

li {
  display: inline;
  color: white;
}

li a {
  color: rgb(0, 119, 155);
  padding: 5px 7px;
  text-decoration: none;
}

.active {
  color: rgb(47, 117, 255);
  background-color: rgb(60,60,60);
}

.photography{
  font-size: 28px;
}


.modal{
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.3);
  color: black;
}

.modal-content {
  position:relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header{
  color: black;
  padding: 2px 16px;
  background-color: rgb(252,186,3);
}

.modal-body{
  padding: 2px 16px;
}

.modal-footer{
  text-align: center;
  padding: 2px 16px;
  background-color: rgb(252,186,3);
  color: black;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media only screen and (max-width: 600px) {

  .modal-content{
    width:300px;
    border: 0.5px;
    padding: 10px;
    font-size: 15px;
  }

  .modal-header{
    padding: 1px 8px;
  }

  .modal-footer{
    padding: 1px 8px;
  }

  .modal{
    padding-top: 40%;
  }

  img{
    height:250px;
  }

  h2{
    padding-top: 60%;
    font-size: 50px;
  }


}
