body, html {
  background-image: url('edicastlecrop.jpg');
  background-position: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(30,30,30);
  font-family:Lato, sans-serif;
  color: rgb(240,240,240);

}

h1 {
  font-size:38px;
  margin: 0px;
  padding-top: 260px;
  padding-bottom: 10px;
  text-align: center;
}

h2 {
  color:rgb(255,255,255);
  font-size: 68px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 0px;
}

h3 {
  font-size: 36px;
  margin-top: 100px;
  margin-bottom: 0px;
  font: Arial;
}

h4 {
  font-size: 24px;
  margin-top: 10px;
  font-style: normal;
}

a:link {
  color: rgb(230,230,230);
  text-decoration: none;
}

a:visited {
  color: rgb(230,230,230);
}

a:hover {
  color: rgb(20, 20, 20);
  background-color: rgb(220,220,220);
  border-color: rgb(130,130,130);
}

a:active{
  color: rgb(0,0,0);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding:0;
  margin:0;
  list-style:none;
  justify-content:center;
}

.active {
  color: rgb(47, 117, 255);
  background-color: rgb(60,60,60);
}

.photography{
  font-size: 26px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: rgb(240,240,240);
  border-width: 2px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;

}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin: 0px;
  padding: 0px;
    grid-row-gap: 0px;

}

.item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 0px;
  width: 100%;
  justify-content: center;
}

.item2{
  margin-top: 10%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 0px;
  height: 450px;
  text-align: center;
}

.logo{
  height: 150px;
  width: auto;
}


@media only screen and (max-width: 1080px) {

  .logo{
    width: 30px;
    height:auto;
  }

  h2{
    font-size: 40px;
  }
  a{
    font-size: 48px;
  }

  h1 {
      font-size:28px;
      margin: 0px;
      padding-top: 280px;
      padding-bottom: 10px;
      text-align: center;
    }
