*{
  box-sizing: border-box;
}
body {
background-color: rgb(30,30,30);
font-family:Consolas;
color: rgb(220,220,220);
margin: 20px;
padding-bottom: 15px;
font-size: 16px;
}

h1{
  text-align: center;
}

h2 {
  color:rgb(220,220,220);
  font-size: 30px;
  margin: 15px;
  text-align: center;
}

p {
margin: inherit;
padding: inherit;
text-align: center;
}

header{
  padding:0px;
  text-align:left;
}

nav{
  float:left;
  width:15%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: rgb(220,220,220);
  padding-bottom: 10px;
  padding-left: 10px;
}

li a {
  color: rgb(0, 119, 155);
  text-decoration: underline;
}

article{
  float:left;
  padding: 20px;
  width: 85%;
}

footer{
  position: bottom;
  left: 0;
  bottom:0;
  width: 100%;
  color:rgb(150,150,150);
  text-align: center;
  font-size: 14px;
  font-family: Consolas;
}

a {

}

a:link {
  color: rgb(220,220,220);
  text-decoration: none;
}

a:visited {
  color: rgb(220,220,220);
}

a:hover {
  color: rgb(220, 220, 220);
  text-decoration: underline;
}

a:active{
  color: rgb(0,0,0);
}

.active {
  color: rgb(47, 117, 255);
  text-decoration: underline;
}

.right{
  float:right;
}
.left{
  float:left;
}

.header{
  padding-top: 0px;
  padding-bottom: 15px;
  justify-content: left;
}

.drop{
    position: bottom;
    bottom:0;
  }
