body {background-image: url('./BackgroundWebsite.png');
  background-size:cover;
  font-family:bahnschrift;
  background-attachment: fixed;}
h2 {color:rgb(60,60,60); text-align: center; font-family: bahnschrift;}
h3 {color:rgb(60,60,60); text-align: center; font-family: bahnschrift;}
h4 {color:rgb(60,60,60); text-align: center; font-family: bahnschrift;}
h5 {color:rgb(60,60,60); text-align: center; font-family: bahnschrift;}
p { color:rgb(80,80,80); text-align: center; font-family: bahnschrift;}
img { padding: 5px; pointer-events: none;}
footer{
  position: bottom;
  left: 0;
  bottom:0;
  width: 100%;
  color:rgb(150,150,150);
  text-align: center;
  font-size: 14px;
  font-family: bahnschrift;
}

a:link {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

a:visited {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

a:hover {
  color: rgb(0,118,214);
}

a:active{
  text-decoration: none;
  color: rgb(47, 117, 255);

}

IMG.displayed {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 48;
  color: white;
  font-family: bahnschrift;
  border-bottom:solid 3px rgb(220,220,220);
  padding-bottom: 0.4em;
  padding-top: 0.4em;


}

li {
  display: inline;
  color: white;
}

li a {
  color: rgb(0, 119, 155);
  padding: 5px 7px;
  text-decoration: none;
}


.active {
  color: rgb(47, 117, 255);
  background-color: rgb(220,220,220);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding:0;
  margin:0;
  list-style:none;
  justify-content:center;
}

.flex-item{
  padding: 5px;
  text-align:center;
}

@media only screen and (max-width: 1000px)
