body {background-image: url('./BackgroundWebsite.png');
background-color: rgb(250,250,250);
background-size:cover;
background-attachment: fixed;
font-family:bahnschrift;
position:relative;
}
h2 {color:rgb(60,60,60); text-align: center; font-family: bahnschrift;}
h3 {color:rgb(60,60,60); text-align: center; font-family: bahnschrift;}
h4 {color:rgb(60,60,60); text-align: center; font-family: bahnschrift;}
h5 {color:rgb(60,60,60); text-align: center; font-family: bahnschrift;}
p { color:rgb(80,80,80); text-align: center; font-family: bahnschrift; font-size: 16px;}
img { padding: 5px;}
footer{
  position: bottom;
  left: 0;
  bottom:0;
  width: 100%;
  color:rgb(150,150,150);
  text-align: center;
  font-size: 14px;
  font-family: bahnschrift;
}

a:link {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

a:visited {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

a:hover {
  color: rgb(0,118,214);
}

a:active{
  text-decoration: none;
  color: rgb(47, 117, 255);

}

IMG.displayed {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-size: 48;
  color: white;
  font-family: bahnschrift;
  border-bottom:solid 3px rgb(220,220,220);
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

li {
  display: inline;
  color: white;
}

li a {
  color: rgb(0, 119, 155);
  padding: 5px 7px;
  text-decoration: none;
}

.vino{
  padding:0;
  margin: 0;
  font-family: Gabriola, Eras Light ITC, Goudy Old Style,Italic_IV25;
  font-style: italic;
}

.active {
  color: rgb(47, 117, 255);
  background-color: rgb(220,220,220);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding:0;
  margin:0;
  list-style:none;
  justify-content:center;
}

.flex-item{
  padding: 5px;
  text-align:left;
}

.img:hover {
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.5);
  -ms-transition: scale(1.5);
  -webkit-transform: scale(1.5);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 30px;
  justify-content: center;
  width: 75%;
  text-align: left;
  padding-left: 3%;
}

.item1{
  grid-column-start: 1;
  grid-column-end: 1;
  padding-right:20px;
  padding-top: 25px;
  height: 450px;
  width: auto;
}

.item2{
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 20px;
}

.wideboy{
  padding: 5px;
}

.wideboy:hover{
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.5);
  -ms-transition: scale(1.5);
  -webkit-transform: scale(1.5);
}

@media only screen and (max-width: 1080px) {
  .displayed{
    height: 100px;
  }

  h2{
    padding:5px;
  }

  p{
    font-size: 14px;
    padding:5px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    justify-content:center;
    text-align: center;
    margin: 10%;
  }

  .item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .item2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-top: 0px;
  }

  .wideboy{
    display: none;
  }

  .img:hover{
    -webkit-transition: all 0s ease-in;
    -moz-transition: all 0s ease-in;
    -ms-transition: all 0s ease-in;
    -o-transition: all 0s ease-in;
    transition: all 0s ease-in;
    opacity: 1;
    transform: scale(1);
    -ms-transition: scale(1.0);
    -webkit-transform: scale(1.0);
  }

  .img{
    width: 300px;
    height: auto;
  }

  .vino{
    font-family: Gabriola, Courier New;
    font-style: italic;
    font-size: 20px;
  }


}
